@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css);
@import url(https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css);

@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Bubbler One';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/bubbler-one-v20-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/poppins-v20-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/montserrat-v26-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Almendra Display';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/almendra-display-v31-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Gugi';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/gugi-v15-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif, "Bubbler One", "Montserrat", "Poppins";
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Navbar Base Styles */
.navbar {
  position: fixed;
  width: 100%;
  height: 11vh;
  z-index: 1003;
  background-color: transparent;
  font-family: "Montserrat", sans-serif;
  font-weight: bolder;
}


.navbar-burger {
  color: rgb(223, 217, 217);
}
.navbar-end .navbar-item {
  background-image: url("https://github.com/23W-GBAC/Azukaego_blog/blob/main/original_images/menubar_two.png?raw=true");
  background-position: center center;
  background-size: centre;
  margin-right: 1em;
  margin-top: 1em;
  margin-bottom: 1em;
  border-radius: 28px 28px ;
}


/* Hover styles */
.navbar-end .navbar-item:hover::before {
  background-color: rgba(255, 255, 255, 0.2); /* Adjust the background color on hover */
}

/* Default text color for all navbar items */
.navbar-end .navbar-item {
  color: rgb(220, 205, 205);
  padding-right: 2em;
  padding-left: 2em;
  font-weight: bolder;

}

/* Navbar text color on hover */
.navbar-end .navbar-item:hover {
  background-color: rgb(153, 74, 74);
  color: white;
}

/* Navbar "Azukaego" specific styling */
.navbar-brand .navbar-item {
  color: rgb(220, 205, 205);
  padding-left: 2em;
  padding-right: 2em;
  font-family: 'Gugi';
  font-weight: bolder;
  font-size: xx-large;
}

/* Navbar "Azukaego" specific styling on hover */
.navbar-brand .navbar-item:hover {
  color: white;
}
/* Styles for mobile screens */
@media screen and (max-width: 1023px) {
  .navbar-menu {
    background-color: rgba(15, 13, 13, 0.7);
  }
  .navbar-end .navbar-item {
    background-image: none;
  }

  /* Text color for mobile screens */
  .navbar-menu .navbar-end .navbar-item {
    color: rgb(220, 205, 205);
  }

  /* Navbar text color on hover for mobile */
  .navbar-menu .navbar-end .navbar-item:hover {
    background-color: rgb(153, 74, 74);
    color: white;
  }

  /* Navbar "Azukaego" specific styling for mobile */
  .navbar-menu .navbar-brand .navbar-item {
    color: rgb(220, 205, 205);
  }

  /* Navbar "Azukaego" specific styling on hover for mobile */
  .navbar-menu .navbar-brand .navbar-item:hover {
    color: white;
  }
  .navbar-burger {
    color: aliceblue; /* Change the color to white */
  }

  /* Added to show footer in smaller screens */
  .content {
    align-content: flex-end;
  }
   /* Added to show footer in smaller screens */
   footer.footer {
    display: block !important;
    text-align: center;
    padding: 20px 0;
    color: rgb(220, 205, 205);
    background-color: rgb(24, 21, 36);
  }
}


/* Styles for desktop screens */
@media screen and (min-width: 1024px) {
  .navbar-end .navbar-item {
    color: rgb(230, 225, 225);
  }

  .navbar-end .navbar-item:hover {
    background-color: rgb(153, 74, 74);
    color: rgb(101, 94, 94);
  }

  .navbar-brand .navbar-item {
    color: rgb(220, 205, 205);
  }

  .navbar-brand .navbar-item:hover {
    color: white;
  }
}

/* Footer styles */
footer.footer {
  position: sticky;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 20px 0;
  color: rgb(220, 205, 205);
  background-color: rgb(70 64 105);
}

footer.footer a {
  color: rgb(220, 205, 205);
  text-decoration: none;
  margin: 0 10px;
  display: inline-block;
  border-bottom: none;
}

footer.footer a i {
  font-size: 27px;
  margin-bottom: 5px;
}

footer.footer a:hover {
  text-decoration: none;
  color: rgb(220, 205, 205);
}

/* Tabs Styles */
.tabs ul {
  display: flex;
  justify-content: center;
  padding: 0;
  border-bottom: none;
}

.tabs li {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.tabs a {
  text-decoration: none;
  color: rgb(220, 205, 205);
  display: flex;
  align-items: center;
}

/* Blog Banner and Main Content styles */
.blog-side-banner {
  width: 20%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: antiquewhite;
  background-image: url("https://github.com/23W-GBAC/Azukaego_blog/blob/main/original_images/blogside_banner_two.png?raw=true");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 1;
}
.blog-side-banner::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6); /* Black color with 50% opacity */
  z-index: 1; /* Ensure the overlay is on top of the background image */
}   

.main-content {
  margin-left: 20%;
  box-sizing: border-box;
}

.posts-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding-top: 5em;
  padding-left: 2em;
  padding-bottom: 120px;
}

.post {
  border: 0px solid #ccc;
  width: calc(32% - 20px);
  box-sizing: border-box;
  padding: 20px;
  font-family: "Montserrat";
  margin-bottom: 20px;
  text-align: center;
}

/* Mobile Styles */
@media screen and (max-width: 767px) {
  .blog-side-banner {
    width: 100%;
    height: 30vh; /* Adjust this height as needed */
    float: none;
    position: static;
    background-size: cover; /* Add this line to ensure the background image is covered */
  }
  .blog-side-banner::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 30vh;
    background: rgba(0, 0, 0, 0.6); /* Adjust the overlay color and opacity as needed */
    z-index: 1; /* Ensure the overlay is on top of the background image */
  }


  .main-content {
    margin-left: 0;
    width: 100%;
    box-sizing: border-box;
  }

  .posts-container {
    padding-left: 0;
    padding-top: 5em; /* Adjust the top padding to leave space for the blog banner */
  }

  .post {
    width: 100%;
  }

  .footer {
    position: static; /* Change position to static for the footer */
    margin-top: 20px; /* Adjust margin as needed */
  }
}
