@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css);
@import url(https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css);

@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Bubbler One';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/bubbler-one-v20-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/poppins-v20-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/montserrat-v26-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Almendra Display';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/almendra-display-v31-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Gugi';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/gugi-v15-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif, "Bubbler One", "Montserrat", "Poppins";
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Navbar Base Styles */
.navbar {
  position: fixed;
  width: 100%;
  height: 11vh;
  z-index: 1003;
  background-color: transparent;
  font-family: "Montserrat", sans-serif;
  font-weight: bolder;
}


.navbar-burger {
  color: rgb(223, 217, 217);
}
.navbar-end .navbar-item {
  background-image: url("https://github.com/23W-GBAC/Azukaego_blog/blob/main/original_images/menubar_two.png?raw=true");
  background-position: center center;
  background-size: centre;
  margin-right: 1em;
  margin-top: 1em;
  margin-bottom: 1em;
  border-radius: 28px 28px ;
}


/* Hover styles */
.navbar-end .navbar-item:hover::before {
  background-color: rgba(255, 255, 255, 0.2); /* Adjust the background color on hover */
}

/* Default text color for all navbar items */
.navbar-end .navbar-item {
  color: rgb(220, 205, 205);
  padding-right: 2em;
  padding-left: 2em;
  font-weight: bolder;

}

/* Navbar text color on hover */
.navbar-end .navbar-item:hover {
  background-color: rgb(153, 74, 74);
  color: white;
}

/* Navbar "Azukaego" specific styling */
.navbar-brand .navbar-item {
  color: rgb(220, 205, 205);
  padding-left: 1em;
  padding-right: 1em;
  font-family: 'Gugi';
  font-weight: bolder;
  font-size: xx-large;
}

/* Navbar "Azukaego" specific styling on hover */
.navbar-brand .navbar-item:hover {
  color: white;
}
/* Styles for mobile screens */
@media screen and (max-width: 1023px) {
  .navbar-menu {
    background-color: rgba(15, 13, 13, 0.7);
  }
  .navbar-end .navbar-item {
    background-image: none;
  }

  /* Text color for mobile screens */
  .navbar-menu .navbar-end .navbar-item {
    color: rgb(220, 205, 205);
  }

  /* Navbar text color on hover for mobile */
  .navbar-menu .navbar-end .navbar-item:hover {
    background-color: rgb(153, 74, 74);
    color: white;
  }

  /* Navbar "Azukaego" specific styling for mobile */
  .navbar-menu .navbar-brand .navbar-item {
    color: rgb(220, 205, 205);
  }

  /* Navbar "Azukaego" specific styling on hover for mobile */
  .navbar-menu .navbar-brand .navbar-item:hover {
    color: white;
  }
  .navbar-burger {
    color: aliceblue; /* Change the color to white */
  }

  /* Added to show footer in smaller screens */
  .content {
    align-content: flex-end;
  }
   /* Added to show footer in smaller screens */
   footer.footer {
    display: block !important;
    text-align: center;
    padding: 20px 0;
    color: rgb(220, 205, 205);
    background-color: rgb(24, 21, 36);
  }
}


/* Styles for desktop screens */
@media screen and (min-width: 1024px) {
  .navbar-end .navbar-item {
    color: rgb(230, 225, 225);
  }

  .navbar-end .navbar-item:hover {
    background-color: rgb(153, 74, 74);
    color: rgb(101, 94, 94);
  }

  .navbar-brand .navbar-item {
    color: rgb(220, 205, 205);
  }

  .navbar-brand .navbar-item:hover {
    color: white;
  }
 }

 /* Footer styles */
 footer.footer {
  position: sticky;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 20px 0;
  color: rgb(220, 205, 205);
  background-color: rgb(70 64 105);
 }

 footer.footer a {
  color: rgb(220, 205, 205);
  text-decoration: none;
  margin: 0 10px;
  display: inline-block;
  border-bottom: none;
 }

 footer.footer a i {
  font-size: 27px;
  margin-bottom: 5px;
 }

 footer.footer a:hover {
  text-decoration: none;
  color: rgb(220, 205, 205);
 }

 /* Tabs Styles */
 .tabs ul {
  display: flex;
  justify-content: center;
  padding: 0;
  border-bottom: none;
 }

 .tabs li {
  display: flex;
  align-items: center;
  margin-right: 10px;
 }

 .tabs a {
  text-decoration: none;
  color: rgb(220, 205, 205);
  display: flex;
  align-items: center;
 }

 /* Blog Banner and Main Content styles */
 .blog-side-banner {
  width: 15%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: antiquewhite;
  background-image: url("https://github.com/23W-GBAC/Azukaego_blog/blob/main/original_images/blogside_banner_three.png?raw=true");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 1;
 }
 .blog-side-banner::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6); /* Black color with 50% opacity */
  z-index: 1; /* Ensure the overlay is on top of the background image */
 }   

 .main-content {
  margin-left: 15%;
  box-sizing: border-box;
 }

 .reconmend {
  flex: 1;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  padding: 20px;
  background-color: rgba(6, 5, 5, 0.9);
  width: 20%; /* Adjusted width to 20% */
  margin-top: 6em;
  border-radius: 20px;
  margin-bottom: 1em;
  z-index: 2;
 }
  
  .write-up-comment {
    display: flex;
    flex-direction: column;
    flex: 2; /* Adjust the flex value to give more space to the write-up */
    padding: 20px;
    background-color: #fff;
    padding-top: 5em;
  }
  
  .write-up {
    margin-bottom: 50px; /* Add margin to separate write-up and comment-section */
  }
  blockquote {
    background-color: white; /* Set background color */
    border: 1px solid #ccc; /* Set border color */
    border-radius: 0px; /* Set border-radius for curved corners */
    padding: 10px; /* Set padding */
    margin: 10px 0; /* Add some margin */
    font-family: 'Montserrat';
    font-weight: bold;
    font-style: italic;
  }
  
  /* Styling for images within blockquotes */
  blockquote img {
    max-width: 7%; /* Make sure images don't overflow the blockquote */
    border-radius: 0px; /* Add border-radius for images */
    margin-top: 10px; /* Add some top margin for images */
    
  }
  #timestamp-container {
    background-color: #f0f0f0; /* Set background color */
    border: 1px solid #ccc; /* Set border color */
    border-radius: 20px; /* Set border-radius for curved corners */
    padding: 7px;
    margin-top: 40px;
    margin-bottom: -27px;
    background-color: #0e1111;
    color: white;
    font-family: 'Poppins';
  }
  
  #post-date,
  #last-modified-date {
    margin: 0; /* Remove default margin for the paragraphs inside the container */
  }
  
  .discussion-heading {
    color: white;
    font-family: 'Poppins';
 }
  
  .comment-section {
    margin-top: auto; /* Align comment section to the bottom */
    padding: 20px;
    width: 100%;
    background-color: #f0f0f0;
    order: 3; /* Set the order to move it to the bottom */
    position: relative;
    bottom: 0; /* Stick to the bottom */
    width: 100%;
    border-radius: 20px;
    overflow-y: auto; /* Add this to make it scrollable */
    max-height: 50vh; /* Set a maximum height for scrolling, adjust as needed */
    background-color: #0e1111
  }
  
  .posts-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding-top: 5em;
    padding-left: 2em; /* Adjusted left padding to maintain spacing */
    padding-right: 2em; /* Added right padding to maintain spacing */
    padding-bottom: 0px;
    justify-content: space-between; /* Add this line to ensure proper spacing */
    width: calc(80% - 4em); /* Adjusted width to account for left and right padding */
  }
  
/* Styles for mobile screens */
@media screen and (max-width: 1023px) {
    .navbar-menu {
      background-color: rgba(15, 13, 13, 0.7);
    }
  
    .navbar-end .navbar-item {
      background-image: none;
    }
  
    .navbar-menu .navbar-end .navbar-item {
      color: rgb(220, 205, 205);
    }
  
    .navbar-menu .navbar-end .navbar-item:hover {
      background-color: rgb(153, 74, 74);
      color: white;
    }
  
    .navbar-menu .navbar-brand .navbar-item {
      color: rgb(220, 205, 205);
    }
  
    .navbar-menu .navbar-brand .navbar-item:hover {
      color: white;
    }
  
    .navbar-burger {
      color: aliceblue;
    }
  
    .content {
      align-content: flex-end;
    }
  
    footer.footer {
      display: block !important;
      text-align: center;
      padding: 20px 0;
      color: rgb(220, 205, 205);
      background-color: rgb(24, 21, 36);
    }
  
    .blog-side-banner {
      width: 100%;
      height: 30vh;
      float: none;
      position: relative; /* Change to relative */
      background-size: cover;
    }
  
    .blog-side-banner::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 30vh;
      background: rgba(0, 0, 0, 0.6);
      z-index: 1;
    }
  
    .main-content {
      margin-left: 0;
      width: 100%;
      box-sizing: border-box;
    }
    
  
    .reconmend {
      order: 4; /* Move .reconmend to the bottom */
      flex: auto;
      width: 100%;
      position: relative; /* Change to relative */
      padding: 40px;
      background-color: #0d0c0c;
      margin-top: 17px;
      margin-left: 17px;
      height: 25vh;
     }
    .write-up-comment {
      flex: 2;
      padding: 20px;
      background-color: #fff;
    }
  
    .write-up {
      margin-bottom: 50px;
    }
  
    .comment-section {
      margin-top: auto;
      padding: 20px;
      width: 100%;
      background-color: #f0f0f0;
      order: 3;
      position: relative;
      bottom: 0;
      width: 100%;
      overflow-y: auto;
      max-height: 50vh;
      background-color: #0e1111;
      border-radius: 20px;
    }
  
    .posts-container {
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
      padding-top: 5em;
      padding-left: 0;
      padding-bottom: 0px;
      justify-content: space-between;
      width: 100%;
    }
  
    .footer {
      position: static;
      margin-top: 20px;
    }
  }
  
