.page-header {
  background-image: url('https://github.com/23W-GBAC/Azukaego_blog/blob/main/image/blog_banner.png?raw=true');
  background-position: center; /* Adjust as needed */
  height: 100vh;
  /* Additional styles if needed */
}
